<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragment-nav">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand ms-2" href="#">
                <img src="https://cdn-icons-png.flaticon.com/256/49/49039.png" alt="logo"
                     width="32" height="32">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active fs-6 mx-3" aria-current="page" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fs-6 mx-3" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Best
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">실시간 Best</a></li>
                            <li><a class="dropdown-item" href="#">주간 Best</a></li>
                            <li><a class="dropdown-item" href="#">월간 Best</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">신상품 Best</a></li>
                            <li><a class="dropdown-item" href="#">Season Best</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fs-6 mx-3" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            아우터
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">패딩</a></li>
                            <li><a class="dropdown-item" href="#">코트</a></li>
                            <li><a class="dropdown-item" href="#">자켓</a></li>
                            <li><a class="dropdown-item" href="#">가디건</a></li>
                            <li><a class="dropdown-item" href="#">블레이저</a></li>
                            <li><a class="dropdown-item" href="#">플리스/뽀글이</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fs-6 mx-3" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            상의
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">니트/스웨터</a></li>
                            <li><a class="dropdown-item" href="#">후드/맨투맨</a></li>
                            <li><a class="dropdown-item" href="#">티셔츠</a></li>
                            <li><a class="dropdown-item" href="#">셔츠/블라우스</a></li>
                            <li><a class="dropdown-item" href="#">민소매/나시</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fs-6 mx-3" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            하의
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">청바지</a></li>
                            <li><a class="dropdown-item" href="#">면바지</a></li>
                            <li><a class="dropdown-item" href="#">슬랙스</a></li>
                            <li><a class="dropdown-item" href="#">레깅스</a></li>
                            <li><a class="dropdown-item" href="#">트레이닝</a></li>
                            <li><a class="dropdown-item" href="#">숏팬츠</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fs-6 mx-3" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            원피스/스커트
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">미니원피스</a></li>
                            <li><a class="dropdown-item" href="#">미디원피스</a></li>
                            <li><a class="dropdown-item" href="#">롱원피스</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">미니스커트</a></li>
                            <li><a class="dropdown-item" href="#">미디스커트</a></li>
                            <li><a class="dropdown-item" href="#">롱스커트</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fs-6 mx-3" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            가방
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">백팩</a></li>
                            <li><a class="dropdown-item" href="#">크로스백</a></li>
                            <li><a class="dropdown-item" href="#">숄더백</a></li>
                            <li><a class="dropdown-item" href="#">토트백</a></li>
                            <li><a class="dropdown-item" href="#">클러치</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fs-6 mx-3" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            신발
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">운동화</a></li>
                            <li><a class="dropdown-item" href="#">구두</a></li>
                            <li><a class="dropdown-item" href="#">부츠</a></li>
                            <li><a class="dropdown-item" href="#">샌들</a></li>
                            <li><a class="dropdown-item" href="#">슬리퍼</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fs-6 mx-3" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            악세서리
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">목걸이</a></li>
                            <li><a class="dropdown-item" href="#">귀걸이</a></li>
                            <li><a class="dropdown-item" href="#">반지</a></li>
                            <li><a class="dropdown-item" href="#">팔찌</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">모자</a></li>
                            <li><a class="dropdown-item" href="#">스카프</a></li>
                            <li><a class="dropdown-item" href="#">벨트</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item" id="navLogin">
                        <a class="nav-link text-dark fs-6" aria-current="page" th:unless="${loginCheck}" th:href="@{/login}">로그인</a>
                    </li>
                    <li class="nav-item" id="navRegister">
                        <a class="nav-link text-dark fs-6" aria-current="page" th:unless="${loginCheck}" th:href="@{/register}">회원가입</a>
                    </li>
                    <li class="nav-item" id="navMyPage">
                        <a class="nav-link text-dark fs-6" aria-current="page" th:if="${loginCheck}" th:href="@{/mypage}">마이페이지</a>
                    </li>
                    <li class="nav-item" id="navLogOut">
                        <a class="nav-link text-dark fs-6" aria-current="page" th:if="${loginCheck}" th:href="@{/logout}">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>