<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{/fragments/header.html :: fragment-header}"></div>
    <link href="/css/productDetail.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div th:insert="~{/fragments/nav.html :: fragment-nav}"></div>

    <div class="product-container">

        <div class="product-image">
            <img th:src="@{${product.imageUrl}}" alt="상품 이미지">
        </div>

        <div class="product-info">
            <p class="product-info-title" th:text="${product.name}">상품 이름</p>
            <p class="product-info-price" th:text="${'가격: ' + product.price}">가격 정보</p>
            <p class="product-info-description" th:utext="${product.description}">상품 설명</p>
            <hr>

            <div class="prd-opt">
                <table class="prd-opt-table">
                    <tbody class="prd-opt-tbody">
                        <tr>
                            <th scope="row">COLOR</th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="product-info-action">
                <a th:href="@{/product/buy(id=${product.number})}" class="product-info-action-buy">Buy it Now</a>
                <button type="button" id="actionCart" class="product-info-action-cart">
                    <i class="fas fa-shopping-cart"></i>
                    Cart</button>
                <button type="button" id="wishList" class="product-info-action-wish">
                    <i class="fas fa-heart"></i>
                    Wish List</button>
            </div>

            <div th:if="${product.permission}" class="product-info-edit">
                <a th:href="@{/product/update/{id}(id=${product.number})}" class="product-info-edit-update">수정하기</a>
                <a href="javascript:void(0);" th:attr="onclick=|confirmDelete('${product.number}');|" class="product-info-edit-delete">삭제하기</a>
            </div>

        </div>


    </div>


    <script>
        function confirmDelete(productId) {
            if (confirm("정말 삭제하시겠습니까?")) {
                window.location.href = `/product/delete/${productId}`;
            }
        }
    </script>

</body>
</html>