<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{/fragments/header.html :: fragment-header}"></div>
</head>
<body>
<div th:insert="~{/fragments/nav.html :: fragment-nav}"></div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 mb-4">
            <div class="card mb-4">
                <div class="card-header text-center py-3">
                    <h5 class="mb-0 justify-content-center">상품 수정</h5>
                </div>
                <div class="card-body">
                    <form action="/product/add" method="post" id="productForm" enctype="multipart/form-data">
                        <input type="hidden" id="number" name="number" th:value="${product.number}"/>
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row mb-4 mt-4">
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" id="name" class="form-control" name="name" th:value="${product.name}" />
                                    <label class="form-label" for="name">상품 이름</label>
                                </div>
                            </div>
                        </div>

                        <!-- Text input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="brand" name="brand" class="form-control" th:value="${product.brand}" />
                            <label class="form-label" for="brand">상품 브랜드</label>
                        </div>

                        <!-- Text input -->
                        <div class="form-outline mb-4">
                            <input type="number" id="price" name="price" class="form-control" th:value="${product.price}"/>
                            <label class="form-label" for="price">가격(원화)</label>
                        </div>

                        <!-- Message input -->
                        <div class="form-outline mb-4">
                            <textarea class="form-control"
                                      placeholder="30자 이내로 상품 설명과 생김새를 입력해주세요."
                                      id="intro"
                                      name="intro"
                                      maxlength="30"
                                      rows="3"
                                      th:value="${product.intro}"></textarea>
                            <label class="form-label" for="intro">상품 한줄 설명</label>
                        </div>

                        <!-- Message input -->
                        <div class="form-outline mb-4">
                            <textarea class="form-control" id="description" name="description"
                                      rows="4"
                                      th:value="${product.description}"></textarea>
                            <label class="form-label" for="description">상품 상세설명</label>
                        </div>

                        <!-- Category input -->
                        <div class="form-outline mb-4">
                            <select id="category" name="category" class="form-select" >
                                <option value="">카테고리를 선택하세요</option>
                                <option value="T-shirt" th:selected="${product.category == 'T-shirt'}">티</option>
                                <option value="Pants" th:selected="${product.category == 'Pants'}">바지</option>
                                <option value="Shoes" th:selected="${product.category == 'Shoes'}">신발</option>
                                <option value="Knit" th:selected="${product.category == 'Knit'}">니트</option>
                                <option value="Skirt" th:selected="${product.category == 'Skirt'}">치마</option>
                                <option value="Boots" th:selected="${product.category == 'Boots'}">부츠</option>
                                <option value="else" th:selected="${product.category == 'else'}">기타</option>
                            </select>
                            <label class="form-label" for="category">카테고리</label>
                        </div>

                        <!-- Image upload -->
                        <div class="form-outline mb-4">
                            <input type="file" id="imageUrl" class="form-control" accept="image/*" name="imageUrl" />
                            <label class="form-label" for="imageUrl">상품 이미지</label>
                        </div>

                        <div class="form-outline text-center mb-4">
                            <button type="submit" class="btn btn-outline-dark me-4" data-mdb-ripple-color="dark" style="z-index: 1;">
                                수정하기
                            </button>
                            <a th:href="@{/mypage}" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1;">
                                취소하기
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('productForm').addEventListener('submit', function (event) {
        event.preventDefault();

        const fields = {
            name: '상품 이름',
            brand: '상품 브랜드',
            price: '가격',
            description: '상품 설명',
            category: '카테고리',
            imageUrl: '상품 이미지',
            intro: '상품 1줄 설명',
        }

        for (let id in fields) {
            const input = document.getElementById(id);
            if (input.value.trim() === '') {
                alert(fields[id] + '을(를) 입력하세요.');
                input.focus();
                return;
            }
        }

        const form = document.getElementById('productForm');
        const formData = new FormData(form);


        fetch('/product/update', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('상품 수정 실패 : ' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                alert('상품이 성공적으로 수정되었습니다.');
                window.location.href = '/mypage';
            })
            .catch(error => {
                console.error('Error : ', error);
            });
    });

</script>

</body>
</html>