<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{/fragments/header.html :: fragment-header}"></div>
    <link href="/css/productBuy.css" rel="stylesheet"/>
</head>

<div th:insert="~{/fragments/nav.html :: fragment-nav}"></div>
<body>

    <header id="header">
        <div class="title"> 주문서 작성 </div>
    </header>

    <div id="container">
        <p class="total">
            주문상품 <span>(갯수)</span>
        </p>
        <table class="tbl_col">
            <colgroup>
                <col style="width:10%;">
                <col>
                <col style="width:15%;">
                <col style="width:12%;">
                <col style="width:3%;">
                <col style="width:10%;">
                <col style="width:8%;">
                <col style="width:5%;">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col" colspan="2">상품정보</th>
                    <th scope="col">옵션</th>
                    <th scope="col">가격</th>
                    <th scope="col">수량</th>
                    <th scope="col">총금액</th>
                    <th scope="col">예상적립금</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="img">
                        <div style="padding: 10px 0;">
                            <a href="" target="_blank">
                                <img src="">
                            </a>
                        </div>
                    </td>
                    <td class="tal">
                        <span style="color: #cf591f">
                            [오늘출발]
                            <img src="https://atimg.sonyunara.com/2023/renew/m/quick_m.png" style="height:15px; margin-right:5px; vertical-align: middle; transform:translateZ(0)">
                        </span>
                        <br>
                        <a href="">un040 부드러운 텐셀 소재의 베이직 이너용 끈나시 underwear</a>
                    </td>
                    <td>
                        Black /
                        <br>
                        90
                    </td>
                    <td>
                        <s>12,000원</s>
                        <br>
                        9,600원
                    </td>
                    <td>1</td>
                    <td class="total_prc">9,600원</td>
                    <td>
                        <img src="https://attrangs.co.kr/asset/img/shop/i_milage.gif" alt="마일리지" class="gif-lib-track">
                        <span class="mileage_obj">0</span>
                        원
                    </td>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>