body {
    min-width: 320px;
    font-size: 16px;
    font-family: NotoSansKR, "맑은 고딕", "Malgun Gothic", AppleSDGothicNeo, 돋움, Dotum, sans-serif;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: -0.4px;
    color: black;
    text-size-adjust: none;
    box-sizing: border-box;
    background: #f6f4ee;
}

#header {
    min-height: 170px;
}

#header .title {
    margin-top: 50px;
    font-size: 38px;
    font-weight: 600;
    text-align: center;
}

#container .total {
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
}

#container .total span {
    color: #d0591f;
    font-size: inherit;
    font-weight: inherit;
}

#container {
    max-width: 1300px;
    width: 100%;
    padding: 30px 50px;
    background: #fff;
    border-radius: 20px;
    margin: 0 auto; /* 상하 여백 0, 좌우 여백 자동설정*/
    font-size: 12px;
    line-height: 1.6;
}

#container:after {
    display: block;
    clear: both;
    content: '';
}

#container .tab_method:after {
    display: block;
    clear: both;
    content: '';
}

#container .area_right {
    float: right;
    width: 310px;
    margin-top: 39px;
    text-align: left;
    font-size: 12px;
    line-height: 1.6;
    vertical-align: baseline;
}

#container .area_right .box {
    width: 310px;
    padding: 30px 34px;
    background: #f8f8f8;
}

#container p.title.first {
    padding-top: 0;
}

#container p.title {
    padding: 21px 0 9px;
    font-size: 15px;
    font-weight: 700;
}

.tbl_order2 caption {
    padding-bottom: 13px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.tbl_order2.ord th {
    padding: 8px 0;
}
.tbl_order2 th {
    font-family: Malgun Gothic, '맑은 고딕';
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
    line-height: 1.6;
}

.tbl_order2.ord td {
    padding: 8px 0;
}
.tbl_order2 td {
    padding: 3px 0;
    font-family: Malgun Gothic, '맑은 고딕';
    font-size: 14px;
    text-align: right;
    vertical-align: middle;
}

#container .total_ord_prc {
    margin-top: 20px;
    padding-top: 27px;
    border-top: 1px solid #dfdfdf;
    font-size: 0;
}

#container .total_ord_prc dt {
    font-size: 15px;
    font-weight: 700;
}
#container .total_ord_prc > * {
    display: inline-block;
    width: 50%;
}

#container .total_ord_prc dd {
    color: #d0591f;
    font-size: 14px;
    font-weight: 700;
    text-align: right;
}

#container .total_ord_prc dd strong {
    color: #d0591f;
    font-size: 22px;
    font-weight: 500;
}

#container .area_right .btn {
    margin-top: 20px;
}

#container .area_right .btn .box_btn {
    margin-bottom: 10px;
}
.box_btn.block {
    display: block;
}
.box_btn {
    text-align: center;
    vertical-align: top;
}

.tbl_order2 {
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
}

.box_btn.fs15 > * {
    font-size: 15px !important;
}
.box_btn.h50 > * {
    height: 50px;
    padding: 0;
    line-height: 48px;
}
.box_btn.block > * {
    width: 100%;
}
.box_btn > * {
    display: inline-block;
    margin: 0;
    border: 1px solid #333;
    outline: none;
    background: #333;
    color: #fff !important;
    font-family: 'Poppins', Malgun Gothic, '맑은 고딕', Dotum, '돋움', sans-serif;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all .2s ease;
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
}

.tbl_col {
    table-layout: fixed;
    clear: both;
    width: 100%;
    border-collapse: collapse;
}

.tbl_col > thead > tr > th {
    padding: 16px 0 15px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #333;
}

.tbl_col > tbody > tr > td {
    padding: 0;
    color: #888;
    text-align: center;
    vertical-align: middle;
}

.tbl_col > tbody > tr > td.img img {
    width: 110px;
    height: auto;
}

.tbl_col > tbody > tr > td.tal {
    padding-left: 20px !important;
    text-align: left !important;
}

.tbl_col > tbody > tr > td a {
    color: #212121;
    font-size: 14px;
}

#container .area_left {
    float: left;
    width: 840px;
    box-sizing: border-box;
    text-align: left;
    display: block;
    unicode-bidi: isolate;
}

.tbl_order {
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #e0e0e0;
}

#container .method2 {
    padding-top: 30px;
}

.method2 > div:first-child {
    border-top: 1px solid #e0e0e0;
}

#container .method2 > div select.deposit {
    width: 680px;
}

#container .method2 > div select {
    display: inline-block;
    color: #333;
    font-size: 14px;
    vertical-align: middle;
}

option {
    font-weight: normal;
    display: block;
    padding-block-start: 0px;
    padding-block-end: 1px;
    min-block-size: 1.2em;
    padding-inline: 2px;
    white-space: nowrap;
}

#container .method2 > div select {
    display: inline-block;
    color: #333;
    font-size: 14px;
    vertical-align: middle;
}

#container .method2 > div .form_input.provider {
    width: 305px;
}
#container .method2 > div .form_input {
    vertical-align: middle;
}
.form_input {
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #c5c5c5;
    background: #fff;
    color: #888;
    font-family: 'Poppins', Malgun Gothic, '맑은 고딕', Dotum, '돋움', sans-serif;
    font-size: 12px;
    transition: all .3s ease;
}
#container .method2 > div .msg {
    margin-left: 15px;
    line-height: 19px;
}
#container .method2 > div .bar, #container .method2 > div .msg {
    display: inline-block;
    color: #888;
    font-size: 14px;
    vertical-align: middle;
    letter-spacing: -1px;
}
select {
    max-width: 100%;
    height: 34px;
    padding: 4px 6px;
    border: 1px solid #dcdcdc;
    background: #fff;
    font: inherit;
}

#container .method2 > div label {
    display: inline-block;
    width: 152px;
    padding-left: 20px;
    font-size: 14px;
    vertical-align: middle;
}

#container .method2 > div {
    padding: 11px 0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 0;
}

.tbl_order th {
    text-align: center;
    padding: 10px 20px;
    border: 1px solid #e0e0e0;
    border-width: 0 1px 1px 0;
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
}

.tbl_order td {
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
    text-align: left;
    vertical-align: middle;
}

.tbl_order td .msg {
    margin-top: 14px;
    color: #999;
    font-size: 13px;
}

.tbl_order td .form_input {
    width: 271px;
    height: 35px;
    padding: 0 10px;
    border: 1px solid #dcdcdc;
    font-size: 14px;
    line-height: 35px;
    vertical-align: middle;
}

.tbl_order td .check {
    display: inline-block;
    margin-left: 15px;
    line-height: 35px;
    vertical-align: middle;
}

.tbl_order td .addbtn {
    margin-bottom: 10px;
}

.tbl_order td .form_input.form_addr0 {
    width: 120px;
}

.box_btn {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.tbl_order td .form_input {
    width: 271px;
    height: 35px;
    padding: 0 10px;
    border: 1px solid #dcdcdc;
    font-size: 14px;
    line-height: 35px;
    vertical-align: middle;
}

.box_btn.strong * {
    font-weight: bold;
}

.box_btn.fs13 > * {
    font-size: 13px !important;
}
.box_btn.white * {
    border-color: #c3c3c3;
    background: #fff;
    color: #666 !important;
}
.box_btn.h35 > * {
    height: 35px;
    padding: 0;
    line-height: 33px;
}
.box_btn.w136 > * {
    width: 136px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    overflow: hidden;
    width: 17px;
    height: 17px;
    margin: 0;
    padding: 0;
    background: url('/img/checkbox.gif') no-repeat center #fff;
}

#container .tab_method li {
    float: left;
    width: 25%;
    border: 1px solid #e0e0e0;
    border-width: 0 0 1px 1px;
    text-align: center;
    list-style: none;
}

#container .tab_method {
    border-top: 1px solid #333;
    border-right: 1px solid #e0e0e0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: #333;
    font-size: 12px;
    line-height: 1.6;
    vertical-align: baseline;
    display: block;
    clear: both;
    content: '';
}

#container .method2 .choice {
    padding-bottom: 29px;
    color: #3e3e3e;
    font-size: 14px;
}

#container .method2 .choice strong {
    font-size: 14px;
    color: #ff8e77 !important;
}

#container .method2 .info_method li {
    padding: 3px 0;
    font-size: 12px;
    line-height: 1.6;
    vertical-align: baseline;
}

#container .method2 .info_method li dl dt {
    position: relative;
    width: 140px;
    padding-left: 10px;
    color: #3e3e3e;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}

#container .method2 > div:first-child {
    border-top: 1px solid #e0e0e0;
}

#container .method2 > div {
    padding: 11px 0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 0;
}

#container .method2 .info_method li dl dd {
    color: #888;
    font-size: 14px;
}

#container .method2 .info_method li dl > * {
    display: inline-block;
    vertical-align: middle;
}

#container .method2 {
    padding-top: 30px;
    font-size: 12px;
    line-height: 1.6;
    vertical-align: baseline;
    font-family: 'Outfit', 'Noto Sans KR', Dotum, AppleGothic, Malgun Gothic, sans-serif;
}

#container .tab_method li.deposit a {
    background-image: url('/img/icon_method_deposit.png');
    background-position: center top 39px;
    display: block;
    padding: 101px 0 25px;
    background-repeat: no-repeat;
    color: #3e3e3e;
    font-size: 14px;
    font-weight: 700;
}

#container .tab_method li.credit a {
    background-image: url('/img/icon_method_credit.png');
    background-position: center top 39px;
}

#container .tab_method li.realtime a {
    background-image: url('/img/icon_method_realtime.png');
    background-position: center top 37px;
}

#container .tab_method li.mobile a {
    background-image: url('/img/icon_method_mobile.png');
    background-position: center top 31px;
}

#container .tab_method li.samsung a {
    background-image: url('/img/icon_method_samsung.png');
    background-position: center top 34px;
}

#container .tab_method li.payco a {
    background-image: url('/img/icon_method_payco.png');
    background-position: center top 50px;
}

#container .tab_method li.kakao a {
    background-image: url('/img/icon_method_kakao.png');
    background-position: center top 47px;
}

#container .tab_method li.smile a {
    background-image: url('/img/smilepay_icon2.png');
    background-position: center top 43px;
}

a {
    text-decoration: none;
}

#container .tab_method li a {
    display: block;
    padding: 101px 0 25px;
    background-repeat: no-repeat;
    color: #3e3e3e;
    font-size: 14px;
    font-weight: 700;
}

#container .check label {
    display: inline-block;
    padding-left: 5px;
    color: #999;
    font-size: 13px;
    font-weight: 400;
    vertical-align: middle;
}

#container h3.title {
    position: relative;
    padding: 56px 0 13px;
    font-size: 16px;
    font-weight: 700;
}

.tbl_order_info {
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #e0e0e0;
}

.tbl_order_info th {
    padding: 10px 20px;
    border: 1px solid #e0e0e0;
    border-width: 0 1px 1px 0;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
}

.tbl_order_info td {
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
    text-align: left;
    vertical-align: middle;
}

.tbl_order_info td .form_input {
    width: 271px;
    height: 35px;
    padding: 0 10px;
    border: 1px solid #dcdcdc;
    font-size: 14px;
    line-height: 35px;
    vertical-align: middle;
}

#container .select {
    position: absolute;
    left: 128px;
    top: 60px;
}

#container .select label {
    padding: 0 22px 0 4px;
    color: #666;
    font-size: 14px;
}

@media (min-width: 1024px) {
    #header {
        max-width: 898px;
        width: inherit;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    body {
        width: 100%;
        margin: 0 auto;
        background: #f6f4ee;
    }
}