*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cnt {
    padding: 50px 0px 0;
    min-height: 800px;
    position: relative;
    font-family: 'Outfit', 'Noto Sans KR', Dotum, AppleGothic, Malgun Gothic, sans-serif;
    font-size: 12px;
    line-height: 1.6;
    vertical-align: baseline;
    color: #333;
    text-align: left;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-family: 'Outfit', 'Noto Sans KR', Dotum, AppleGothic, Malgun Gothic, sans-serif;
}

.maincontent .top .wrap_inner {
    padding-top: 20px;
}
.member .wrap_inner {
    width: 1200px;
    padding-bottom: 50px;
}

.tbl_order2 {
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.tbl_order2 caption {
    padding-bottom: 13px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.wrap_inner {
    width: 1416px;
}

.wrap_inner {
    width: 1210px;
    margin: 0 auto;
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
    color: #333;
}

#cart .area_left {
    float: none;
    width: auto;
}

.cart-sub-header > div {
    flex: 1;
}

.tbl_order2 th {
    padding: 3px 0;
    font-family: Malgun Gothic, '맑은 고딕';
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
}

.tbl_order2 td * {
    font: inherit;
}

.tbl_order2 .total th, .tbl_order2 .total td {
    padding: 11px 0 26px;
}

.tbl_order2 .total td, .tbl_order2 .total td * {
    color: #cf591f;
    font-weight: bold;
}

#use_account {
    color: #333;
}

.tbl_order2 td {
    padding: 3px 0;
    font-family: Malgun Gothic, '맑은 고딕';
    font-size: 14px;
    text-align: right;
    vertical-align: middle;
}

.tac {
    text-align: center !important;
}

.btn.tac span {
    display: inline-block;
    margin: 0 2px;
}

#cart .pay {
    text-align: center;
}

.npay_type_A_1, .npay_type_C_1_2 {
    width: 412px !important;
}
.npay_type_C_1_2, .npay_type_C_2_2 {
    width: 272px !important;
    height: 88px !important;
}
.npay_storebtn_bx {
    display: inline-block !important;
}

.npay_text {
    display: block !important;
    position: absolute !important;
    top: 11px !important;
    left: 0 !important;
    width: 79px !important;
    height: 36px !important;
    margin: 0 !important;
    padding: 0 !important;
    background: url(../../images/button/2023_10_diff/npay_sp_text.png) no-repeat !important;
    background-size: 180px auto !important;
}

.npay_button_box .npay_blind, .npay_button_box .yellow, .npay_button_box .blue, .npay_button_box2 .npay_blind, .npay_button_box2 .yellow .npay_button_box2 .blue {
    overflow: hidden !important;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important;
}

.npay_btn_item:first-child .npay_btn_link {
    margin: 0 !important;
}
.npay_btn_link.npay_btn_pay {
    border-color: #00c05a !important;
    background-image: url(../../images/button/2023_10_diff/npay_sp_payment.png) !important;
    background-position: 50% 0 !important;
    background-repeat: no-repeat !important;
    background-size: 63px auto !important;
}

.npay_btn_link.npay_btn_zzim {
    background-image: url(../../images/button/2023_10_diff/npay_sp_zzim.png) !important;
    background-position: 50% 0 !important;
    background-repeat: no-repeat !important;
    background-size: 35px auto !important;
}

.npay_btn_link.npay_btn_talk {
    background-image: url(../../images/button/2023_10_diff/npay_sp_talk.png) !important;
    background-position: 50% 0 !important;
    background-repeat: no-repeat !important;
    background-size: 35px auto !important;
}

.npay_btn_link.npay_btn_zzim, .npay_btn_link.npay_btn_talk {
    width: 35px !important;
}

.npay_btn_link {
    display: block !important;
    height: 35px !important;
    margin: 0 0 0 3px !important;
    padding: 0 !important;
    border: 1px solid #ccc !important;
    border-radius: 2px !important;
    background-color: #fff !important;
    background-repeat: no-repeat !important;
    background-repeat: no-repeat !important;
    text-align: center !important;
    text-decoration: none !important;
}

.npay_btn_list {
    display: table !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    table-layout: fixed !important;
    list-style: none !important;
}

.npay_btn_item {
    display: table-cell !important;
    height: 37px !important;
    margin: 0 !important;
    padding: 0 !important;
    text-align: left !important;
}

.npay_btn_item.btn_width {
    width: 40px !important;
}

.npay_btn_list tr {
    display: table-row !important;
}

.npay_btn_list tbody {
    display: table-row-group !important;
}

.npay_more_prev {
    right: 15px !important;
    background-position: 0 0 !important;
}
.npay_more {
    position: absolute !important;
    top: 5px !important;
    width: 16px !important;
    height: 16px !important;
    margin: 0 !important;
    padding: 0 !important;
    background: url(../../images/button/2023_10_diff/npay_sp_more.png) no-repeat !important;
    background-size: 31px auto !important;
    text-decoration: none !important;
}

.clear {
    clear: both;
}

#cart .guide .tbl_guide {
    width: 100%;
}

.npay_event {
    position: relative !important;
    margin: 0 !important;
    padding: 0 40px 0 0 !important;
    border: 0 none !important;
    border-top: 1px solid #eaecee !important;
}

.npay_button_box, .npay_button_box2 {
    width: auto !important;
    height: 100% !important;
    zoom: 1 !important;
    padding: 0 4px !important;
    border-top: 2px solid #2b2f3a !important;
    background-color: #fff !important;
}

.npay_button {
    position: relative !important;
    margin: 0 !important;
    padding: 11px 0 11px 86px !important;
    zoom: 1 !important;
}

.npay_event_text {
    display: block !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 5px 0 !important;
    letter-spacing: 0 !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    word-wrap: normal !important;
}

.npay_event_text .event_title {
    display: inline !important;
    margin: 0 5px 0 0 !important;
    padding: 0 !important;
    font-weight: normal !important;
    color: #00c05a !important;
    vertical-align: middle !important;
}

.npay_event .npay_event_text .event_link {
    display: inline !important;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: normal !important;
    color: #929294 !important;
    text-decoration: none !important;
    vertical-align: middle !important;
}

.npay_more_next {
    right: 0 !important;
    background-position: -15px 0 !important;
}

.npay_storebtn_bx, .npay_button_box, .npay_button_box2, .npay_storebtn_bx *, .npay_button_box *, .npay_button_box2 * {
    display: block !important;
    overflow: hidden !important;
    float: none !important;
    position: static !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 none !important;
    font-size: 12px !important;
    line-height: 16px !important;
    font-family: '돋움', Dotum, Helvetica, sans-serif !important;
    text-align: left !important;
    text-decoration: none !important;
    vertical-align: top !important;
    background: none !important;
    border-radius: 0 !important;
}

.btn.tac .canbox a {
    display: inline-block;
    font-size: 14px;
    padding: 20px 0;
    border-radius: 10px;
    width: 200px;
    background-color: var(--season_color_11);
    border: 0;
    color: #fff;
    border-radius: 0;
}

.btn.tac .okbox input, .btn.tac .okbox a {
    display: inline-block;
    font-size: 14px;
    padding: 20px 0;
    width: 200px;
    background-color: var(--season_color_01);
    color: inherit;
    border-radius: 0;
    border: 1px solid #cfcfcf;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    overflow: hidden;
    width: 17px;
    height: 17px;
    margin: 0;
    padding: 0;
    background: url(/asset/img/common/checkbox.gif) no-repeat center #fff;
}

.order_step_new li.active {
    color: #333;
}

.order_step_new li {
    display: inline-block;
    color: #ccc;
}

.order_step_new li:after {
    content: " > ";
    display: inline-block;
    margin: 0 2.5px;
    color: #ccc;
}

.cart-sub-header .right-content .choose_del {
    vertical-align: bottom;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    display: inline-block;
}

#cart .list li .goods-form div.check {
    width: 5%;
    text-align: center;
}

#cart .list li .goods-form div.img {
    width: 10%;
    position: relative;
}

#cart .area_left .btn {
    padding-top: 20px;
}

.btn {
    margin-top: 25px;
}

#cart .checkYN {
    background: url(https://atimg.sonyunara.com/2022/member/wish_check.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
}

#cart .list li .goods-form > div {
    display: table-cell;
    vertical-align: middle;
}

#cart .list li .goods-form div.img img {
    width: 100%;
}

#cart .checkYN {
    background: url(https://atimg.sonyunara.com/2022/member/wish_check.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
}

#cart .list li .goods-form {
    width: 100%;
    display: table;
    position: relative;
}

#cart .list li .goods-form div.tal {
    width: 35%;
    padding-left: 20px;
}

#cart .list li .goods-form > div {
    display: table-cell;
    vertical-align: middle;
}

.tal {
    text-align: left !important;
}

.time-wrap {
    position: absolute;
    background-color: #fff;
    width: 100%;
    z-index: 1;
    display: none;
    border-radius: 0;
    border: 0;
    background-image: none;
    bottom: initial;
}

.time-wrap > img {
    top: 12px !important;
    right: 10px !important;
    z-index: 2;
}

.time-wrap .time-inner {
    padding: 0 !important;
}

.time-wrap .time-inner > div:nth-child(1) {
    background-color: #877B73;
    padding: 8px 13px;
    color: white;
}

.time-wrap .time-inner .time-title {
    color: white;
    font-size: 14px;
}

.time-wrap .bottom-line {
    background-color: transparent;
}

.time-wrap .time-inner .time-time {
    background-color: #F7F3EB;
    border: 1px solid #CFC6BC;
    border-top: 0;
    padding: 8px 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time-wrap .time-inner .time-time * {
    color: #9E9087;
    font-size: 14px;
    font-weight: 300;
}

#cart .list li {
    background-color: #fff;
    padding: 20px 0;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid #e6e6e6;
}

.cart-sub-header .right-content {
    text-align: right;
}

.order_step_new {
    display: inline-block;
    margin-right: 10px;
}

.cart-sub-header .right-content {
    text-align: right;
}

input[type=radio], input[type=checkbox] {
    vertical-align: middle;
}

.cart-sub-header .left-content ul li {
    display: inline-block;
}

label {
    cursor: default;
}

#wrapper {
    overflow: hidden;
    position: relative;
    min-width: 1200px;
    text-align: left;
}

.cart-sub-header {
    display: flex;
    align-items: flex-end;
    margin: 20px 0;
}

.maincontent .top .wrap_inner .title {
    font-size: 38px;
    font-weight: 600;
    text-align: center;
}

.member .title .info {
    display: inline-block !important;
    position: relative;
    width: auto;
    vertical-align: top;
    margin-left: 8px;
    margin-top: 17px;
}

.member #my_menu {
    position: relative;
    text-align: center;
    width: auto;
    margin-top: 20px;
    border: 0;
}

#my_menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 180px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    padding-bottom: 20px;
}

#my_menu dl:first-child dt {
    padding-top: 0;
}

#my_menu dl dt {
    padding: 15px 0px 0px 15px;
    color: #404040;
    font-size: 15px;
}

#my_menu dl:nth-of-type(2) dt {
    display: none;
}

#my_menu dl dt {
    padding: 15px 0px 0px 15px;
    color: #404040;
    font-size: 15px;
}

.member #my_menu dl dd, #my_menu dl dd {
    display: inline-block;
    margin: 0 3px;
}

#my_menu dl dd, #my_menu dl dd * {
    color: #888;
    font-family: Malgun Gothic, '맑은 고딕';
    font-size: 13px;
}

.member #my_menu dl dd a:first-of-type {
    margin-left: 0;
    position: relative;
    z-index: 1;
}

.member #my_menu dl dd a {
    margin-left: 8px;
}

#my_menu dl dd a {
    display: inline-block;
    padding: 8px 0 0 0px;
    margin-left: 25px;
}

#my_menu dl dd, #my_menu dl dd * {
    color: #888;
    font-family: Malgun Gothic, '맑은 고딕';
    font-size: 13px;
}

.member #my_menu dl dd a.star1 {
    display: none;
}

.member #my_menu dl {
    display: none;
}

.member .title .info img {
    width: 26px;
}

.maincontent .top .wrap_inner .navi {
    position: relative;
    top: 21px;
}

ol, ul, li {
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

#my_menu dl:nth-of-type(2) {
    display: block;
}

.box_qty .form_input {
    width: 78px;
    height: 28px;
    padding: 0 24px;
    border: 0;
    color: #333;
    font-size: 13px;
    line-height: 28px;
    text-align: center;
}

input[type=text], input[type=email], input[type=password] {
    vertical-align: top;
}

.form_input {
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #c5c5c5;
    background: #fff;
    color: #888;
    font-family: 'Poppins', Malgun Gothic, '맑은 고딕', Dotum, '돋움', sans-serif;
    font-size: 12px;
    transition: all .3s ease;
}

#cart .list li .goods-form div.opt {
    text-align: center;
    width: 25%;
}

#cart .list li .goods-form > div {
    display: table-cell;
    vertical-align: middle;
}

.box_btn {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.box_btn.white5 * {
    border-color: #e9e9e9;
    background: #fff;
    color: #333 !important;
}

.box_btn.h30 > * {
    height: 30px;
    padding: 0;
    line-height: 28px;
}

#cart .guide .tbl_guide th {
    padding: 60px 0;
    border-top: 1px solid #dbdbdb;
    font-size: 20px;
    font-weight: normal;
    vertical-align: top;
}

#cart .guide .tbl_guide td {
    padding: 60px 0;
    border-top: 1px solid #dbdbdb;
    vertical-align: top;
}

#cart .guide .tbl_guide td ul li {
    position: relative;
    padding-left: 9px;
    color: #888;
    font-size: 13px;
    line-height: 1.8;
}

.hidden {
    visibility: hidden;
    overflow: hidden;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0;
    line-height: 0;
}

#cart .list li .goods-form > div {
    display: table-cell;
    vertical-align: middle;
}

.box_qty {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 30px;
    border: 1px solid #e9e9e9;
    text-align: center;
    vertical-align: top;
}

.box_qty a.ea_down {
    left: 0;
    background-image: url(/asset/img/shop/ea_down.png);
}

.box_qty a.ea_up {
    right: 0;
    background-image: url(/asset/img/shop/ea_up.png);
}

.box_qty a {
    display: block;
    position: absolute;
    top: 0;
    width: 24px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center;
}

#cart .list li .goods-form > div {
    display: table-cell;
    vertical-align: middle;
}

.wish-icon {
    background: url(https://atimg.sonyunara.com/2023/renew/list/like.png);
    background-size: cover;
    width: 20px;
    margin-right: 10px;
}
.wish-icon {
    display: inline-block;
}
.wish-icon {
    background-image: url(https://atimg.sonyunara.com/attrangs/assets/web03/asset/img/shop/btn_wish.png);
    width: 17px;
    height: 17px;
    background-size: contain;
    background-repeat: no-repeat;
}

select {
    max-width: 100%;
    height: 34px;
    padding: 4px 6px;
    border: 1px solid #dcdcdc;
    background: #fff;
    color: #888;
    font: inherit;
}

.box_btn.w80 > * {
    width: 80px;
}

.box_btn.fs13 > * {
    font-size: 13px !important;
}

.box_btn.white2 * {
    border-color: #dbdbdb;
    background: #fff;
    color: #000 !important;
}
.box_btn.h35 > * {
    height: 35px;
    padding: 0;
    line-height: 33px;
}
.box_btn.w115 > * {
    width: 115px;
}

#cart .area_right {
    float: none;
    width: auto;
}
#cart .area_right {
    margin-top: 29px;
}

#cart .area_right .box {
    background: none;
}
#cart .area_right .box {
    margin-bottom: 3px;
    padding: 40px 45px;
}

.price-wrap {
    display: table;
    width: 800px;
    margin: 0 auto;
}

.price-wrap > div {
    display: table-cell;
    font-size: 20px;
    color: #888;
}

.price-wrap > div * {
    font-size: 20px;
    color: #888;
}

#use_account {
    color: #333;
}

#cart .area_right .box .deliveryInfo span {
    font: inherit;
}

.price-won {
    position: relative;
}

#cart .area_right .box .deliveryInfo {
    padding: 0;
    border-top: 0;
}

#cart .area_right .box .deliveryInfo {
    position: relative;
    padding: 23px 0 31px;
    border-top: 1px solid #dfdfdf;
    color: #888;
    font-family: Malgun Gothic, '맑은 고딕';
    font-size: 14px;
    letter-spacing: -2px;
}

.price-won::after {
    position: absolute;
    right: -49px;
    content: "+";
}

.box_btn > * {
    display: inline-block;
    margin: 0;
    padding: 8px 12px;
    border: 1px solid #333;
    outline: none;
    background: #333;
    color: #fff !important;
    font-size: 12px;
    font-family: 'Poppins', Malgun Gothic, '맑은 고딕', Dotum, '돋움', sans-serif;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    line-height: 1.4;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all .2s ease;
}

.member .title .info .ment {
    display: none;
    border-radius: 20px;
    border-top-left-radius: 5px;
    padding: 20px 40px;
    box-shadow: 0 0 11px 0 #b9b9b9;
    background-color: #fff;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    left: 9px;
    text-align: left;
    z-index: 2;
    transform: translateY(100%);
}

#cnt .maincontent {
    background-color: #F6F4EE;
    min-height: 1000px;
    padding-bottom: 50px;
}

img {
    vertical-align: top;
    overflow-clip-margin: content-box;
    overflow: clip;
}

#cnt .maincontent .top {
    min-height: 170px;
    position: relative;
}

div {
    display: block;
    unicode-bidi: isolate;
}

:root {
    --season_color_01: #F6F4EE;
    --season_color_01_dim: #F6F4EECF;
    --season_color_02: #3B3B3B;
    --season_color_03: #C7918A;
    --season_color_04: #877B73;
    --season_color_05: #757575;
    --season_color_06: #9E9087;
    --season_color_07: #FFFEFA;
    --season_color_08: #F7F3EB;
    --season_color_09: #CFC6BC;
    --season_color_10: #A29388;
    --season_color_11: #e5aaa3;
    --season_color_12: #f2eaeaa8;
    --season_color_13: #8b625f;
    --season_color_14: #f5f1f0;
    --season_color_15: #FC7E8D;
    --inner_width: 1416px;
}