body {
    min-width: 320px;
    font-size: 16px;
    font-family: NotoSansKR, "맑은 고딕", "Malgun Gothic", AppleSDGothicNeo, 돋움, Dotum, sans-serif;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: -0.4px;
    color: black;
    text-size-adjust: none;
    background: #f6f4ee;
}

#header {
    min-height: 170px;
}

#header .title {
    margin-top: 50px;
    font-size: 38px;
    font-weight: 600;
    text-align: center;
}

#container .total {
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
}

#container .total span {
    color: #d0591f;
    font-size: inherit;
    font-weight: inherit;
}

#container {
    max-width: 1300px;
    width: 100%;
    padding: 30px 50px;
    background: #fff;
    border-radius: 20px;
    margin: 0 auto; /* 상하 여백 0, 좌우 여백 자동설정*/
    box-sizing: border-box;
}

.tbl_col {
    table-layout: fixed;
    clear: both;
    width: 100%;
    border-collapse: collapse;
}

.tbl_col > thead > tr > th {
    padding: 16px 0 15px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #333;
}

.tbl_col > tbody > tr > td {
    padding: 0;
    color: #888;
    text-align: center;
    vertical-align: middle;
}

.tbl_col > tbody > tr > td.img img {
    width: 110px;
    height: auto;
}

.tbl_col > tbody > tr > td.tal {
    padding-left: 20px !important;
    text-align: left !important;
}

.tbl_col > tbody > tr > td a {
    color: #212121;
    font-size: 14px;
}

@media (min-width: 1024px) {
    #header {
        max-width: 898px;
        width: inherit;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    body {
        width: 100%;
        margin: 0 auto;
        background: #f6f4ee;
    }
}