body {
    font-family: 'Work Sans', 'Noto Sans KR', sans-serif;
}

header.firsthead {
    padding-top: 15.5rem;
    padding-bottom: 6rem;
    text-align: center;
    background-image: url("https://img.freepik.com/free-photo/abstract-blur-shopping-mall-interior_1203-8238.jpg?w=1380&t=st=1724991309~exp=1724991909~hmac=f2d8b99930412443781fe322e4ed66ce8c293f829d9d222298b9793b01172525");
    height: 550px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #323232;
}

header.firsthead .firsthead-subheading {
    font-size: 2rem;
    font-weight: 700;
}

a {
    text-decoration: none;
}

header.firsthead .firsthead-heading {
    font-size: 4rem;
    font-weight: 700;

}
