<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crud.common.mapper.MemberMapper">
    <select id="findAll" resultType="com.example.crud.entity.Member">
        SELECT * FROM member
    </select>

    <update id="updateMember" parameterType="com.example.crud.entity.Member">
        UPDATE member
        SET
            password = #{password},
            update_at = CURRENT_TIMESTAMP
        WHERE number = #{number}
    </update>
</mapper>
